:root {
  /* --lightbeige: #ffffe0; */
  --lightbeige: #f1c07e;
  --lightgray: #fafaf8;
  --orange: #cc4100;
  --dark: #575757;
}

#searchForm {
  background: url(http://www.transparenttextures.com/patterns/egg-shell.png),
    10%, #ffe9cb;
  border-radius: 2px;
}
