:root {
  --lightbeige: #ffffe0;
  --lightgray: #fafaf8;
  --orange: #cc4100;
  --dark: #575757;
}

* {
  background: url(http://www.transparenttextures.com/patterns/egg-shell.png),
    10%, var(--dark);
}

#resultContainer {
  background: url(http://www.transparenttextures.com/patterns/egg-shell.png),
    10%, var(--lightbeige);
  border-radius: 10px;
}
