.imageContainer {
  display: flex;
  justify-content: center;
}

#cardText {
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
