:root {
  --lightbeige: #ffffe0;
  --lightgray: #fafaf8;
  --orange: #cc4100;
  --dark: #575757;
}

.jumbotron {
  height: 40vh;
  display: flex;
  background-image: url(./bookshelf.png);
  justify-content: flex-start;
  align-items: center;
}

.container {
  opacity: 0.9;
}

.heroText {
  background: url(http://www.transparenttextures.com/patterns/egg-shell.png),
    10%, var(--dark);
  width: fit-content;
  border-radius: 10px;
  color: var(--lightgray);
}
